/* Common style  */
* {
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
}

/* Header section style  */

.header {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");

  width: 1320px;
  height: 600px;
  margin: 50px auto;
  border-radius: 20px;
  /* filter: brightness(70%); */
}
.head-text {
  text-align: center;
  padding-top: 150px;
}
.head-text h3 {
  color: white;
  font-family: "Merriweather";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  margin-top: 0;
}

.head-text p {
  color: white;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
}

/* off section  */
.off-container {
  text-align: center;
}

.off-container h2 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 48px;
}
.off-container h4 {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.off-container h3 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
}
.hp-pic {
  width: 800px;
  height: 500px;
  margin: 48px auto;
}

/* Midnight party */
.midnight-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  width: 1320px;
  height: 600px;
  margin: 120px auto;
  border-radius: 20px;
}
.party-text {
  padding-top: 80px;
  margin-left: 130px;
}
.party-text h1 {
  color: #fff;

  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 0;
}
.party-text p {
  color: #fff;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 0;
}
#btn {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background: none;
  margin-top: 40px;
  margin-left: 30px;
}
.mid {
  display: flex;
}
.party-img {
  margin-top: 50px;
  margin-left: 180px;
  width: 319.83px;
  height: 464.662px;
}

/* date time section  */
.dt {
  text-align: center;
  width: 1320px;
  height: 482px;
  margin: 100px auto;
  border-radius: 10px;
  padding-top: 150px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.reds {
  color: #f00;
}
.dt h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;

  margin: 0;
}

.button {
  color: #fff;
  background-color: #f00;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
}

/* new best offer section  */
.new-offer {
  display: flex;
  gap: 100px;
  /* justify-content: space-around; */
  align-items: center;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.new-offer-col1 h3 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.new-offer-col1 h1 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}
.new-offer-col1 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";

  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 30px;
}
.new-offer-col2 img {
  border-radius: 450px;
  border: 15px solid #f00;
  padding: 30px;
}
.new-offer-col3 {
  /* width: 100%; */
}
.new-offer-col3 h1 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}

.new-offer-col3 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 100%;
  margin-top: 20px;
}
.new-offer-col3 img {
  margin-top: 50px;
  width: 140px;
  height: 140px;
}

/* Holidays Sale 50% */
.holyday {
  text-align: center;
  margin-bottom: 100px;
}
.holyday-text h4 {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
}
.holyday-text h1 {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
}
.holyday-text p {
  font-family: "Inter";
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

/* 50% image section  */
.holyday-discount-img {
  display: flex;
  /* gap: 100px; */
  background-image: url("../resources/Rectangle\ 2.png");
  background-repeat: no-repeat;

  background-position: bottom;
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
}

.box-img {
  padding-right: 100px;
}
.discount-50 {
  position: relative;
  right: 130px;
  z-index: 1;
}
.lady-img {
  position: relative;
  right: 313px;
  top: -60px;
  border-radius: 10px;
}

/* the best gift style  */
.best-gift {
  width: 1320px;
  height: 600px;
  /* text-align: center; */
  margin: auto;
  margin-top: 100px;
  margin-bottom: 600px;
}
.gift-text h5 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.gift-text h1 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}

.gift-text p {
  font-family: "Inter";
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
}
.gift-img {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.gift-img:hover {
  /* transform: scale(1.5); */
  border-radius: 500px;
  border: 1px solid red;
  transition: 0.5;
  size: 300px;
}

/* Subscribe Newsletter */
.subscribe {
  width: 1320px;
  height: 600px;
  border-radius: 20px;
  background: rgba(255, 0, 0, 0.05);
  margin: auto;
  margin-bottom: 130px;
}
.mail-part {
  text-align: center;
  padding-top: 80px;
}
.mail {
  margin-bottom: 50px;
}
.mail-part h1 {
  color: #070211;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
.mail-part p {
  color: rgba(7, 2, 17, 0.6);

  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}
.input-email {
  width: 648px;
  height: 72px;
  border-radius: 50px;
  color: rgba(7, 2, 17, 0.3);

  text-align: center;
  font-size: 30px;
  font-weight: 400;
  border: none;
}
.sub-btn {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;

  text-align: center;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  right: 150px;
  bottom: 4px;
  border: none;
}

/* footer style  */
footer {
  width: 100%;
  height: 609px;
  /* background: #070211; */
  background-color: #070211;
  /* margin: 0 10px; */
}
.first {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  padding-top: 100px;
  margin-bottom: 0;
}

.first h3 {
  color: #fff;

  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.number {
  position: relative;
  left: 35px;
  bottom: 32px;
  color: #fff;

  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.num {
  display: block;
  width: 24px;
  height: 24px;
}
.www {
  display: block;
  width: 24px;
  height: 24px;
}
.www-web {
  position: relative;
  left: 35px;
  bottom: 33px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.line {
  width: 1320px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  margin-bottom: 50px;
}
.fitl {
  text-align: center;
  margin-bottom: 50px;
}
.icon-img {
  width: 64px;
  height: 64px;
  margin-right: 15px;
}

.third-foot {
  display: flex;
  justify-content: space-around;
}
.foot-left {
  color: #fff;

  font-size: 30px;
  font-weight: 500;
}
.foot-right {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}
